body,
html {
  background-color:#FCFCFC;
  
}
* {
  font-family: sans-serif;
}

.header {
  margin-top: 120px;
  text-align: center;
  font-size: 20px;
}

.data-container {
  width: 600px;
  height: 384px;
  position: relative;
  margin: 0 auto;
}

.block {
  width: 28px;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #58b7ff;
  transition: 0.2s all ease;
}

.block__id {
  position: absolute;
  top: -24px;
  width: 100%;
  text-align: center;
}

#test1
{
	width:50px;
}
h2{
	text-align:center;
}
#subBut
{
	margin-left:680px;
}
footer{
	background-color:#343a40;
	color:white;
	position:absolute;
	right:0;
	width:100%;
	
   
   width: 100%;
}